<div class="container">
  <div class="section">
    <div class="row orange-text text-darken-3 white-text">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/gre1.png">
            <a class="btn-floating halfway-fab waves-effect waves-light purple" routerLink="/contact"><i class="material-icons">message</i></a>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12 m6">
                <h4>Bertrand Marechal</h4>
              </div>
              <div class="col s12 m6">
                <h5 class="right-align">Full stack developper</h5>
              </div>
              <div class="col s12 orange-text text-lighten-1">
                <h6>I am code passionate, logic lover, a team leader and a full stack developper. My background as general engineer, as well as my experience in software development does the right mix to get into complex subjects and try to find nice solutions to all kind of issues.</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <app-who-am-i></app-who-am-i>
      </div>
      <div class="col s12">
        <app-like></app-like>
      </div>
      <div class="col s12">
        <app-where-am-i></app-where-am-i>
      </div>
    </div>
  </div>
</div>
