<footer class="page-footer purple">
  <!-- <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bertrand Marechal</h5>
        <p class="grey-text text-lighten-4">Full stack Developper</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">About</h5>
      </div>
    </div>
  </div> -->
  <div class="footer-copyright">
    <div class="container">
      <div class="row" style="margin:0px;">
        <div class="col s12 m6">
          <div class="row" style="margin:0px;">
            <div class="col s1" *ngFor="let contact of contacts">
              <a href="{{contact.link}}" target="_blank">
                <i *ngIf="contact.iconType === 'material'" class="material-icons orange-text">{{contact.icon}}</i>
                <b *ngIf="contact.iconType === 'text'" style="padding:2px 7px 2px 7px;border-radius:3px;" class="orange purple-text">{{contact.icon}}</b>
              </a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <span class="right">
            Made by <a class="orange-text text-lighten-3" routerLink="/me">Bertrand Marechal</a> - 2017
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
