<nav class="grey lighten-3 purple-text">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo center purple-text">
      <b class="hide-on-med-and-up">B.M.</b>
      <b class="hide-on-small-only">Bertrand Marechal</b>
    </a>
    <ul id="nav-mobile" class="left">
      <li routerLinkActive="active">
        <i class="material-icons" materialize="sideNav">menu</i>
      </li>
      <li routerLinkActive="active" class="hide-on-small-only">
        <a routerLink="/me" class="purple-text">About</a>
      </li>
      <li routerLinkActive="active" class="hide-on-small-only">
        <a routerLink="/work" class="purple-text">Work</a>
      </li>
      <li routerLinkActive="active" class="hide-on-small-only">
        <a routerLink="/scholarship" class="purple-text">School</a>
      </li>
      <li routerLinkActive="active" class="hide-on-small-only">
        <a routerLink="/contact" class="purple-text">Contact</a>
      </li>
    </ul>
  </div>
</nav>
