<nav class="grey lighten-3 purple-text">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo center purple-text">
      <b class="hide-on-large-only">B.M.</b>
      <b class="hide-on-med-and-down">Bertrand Marechal</b>
    </a>
    <ul id="nav-mobile" class="left">
      <li class="hide-on-large-only">
        <a materialize="sideNav" [materializeParams]="[{edge:'left',closeOnClick:true}]" data-activates="slide-out"><i class="material-icons purple-text">menu</i></a>
      </li>
      <li routerLinkActive="active" class="hide-on-med-and-down" *ngFor="let menu of menus">
        <a routerLink="{{menu.link}}" class="purple-text">{{menu.name}}</a>
      </li>
    </ul>
  </div>
</nav>
