<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <div class="row purple white-text">
          <div class="col s12">
            <h3 class="center-align">{{data?.title}}</h3>
            <h6 class="center-align">{{data?.pitch}}</h6>
        </div>
      </div>
      <div class="s12">
        <div class="row">
          <div class="col s12" *ngFor="let experience of data?.experiences">
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="col s12">
                    <div class="card-title">
                      <div class="row">
                        <h4 class="col s12 m6 purple-text">
                          {{experience.name}}
                        </h4>
                        <h5 class="col s12 m6 right-align orange-text">
                          {{experience.fromTo}}
                        </h5>
                      </div>
                    </div>
                    <p>{{experience.description}}</p>
                  </div>
                </div>
                <div class="row" *ngIf="experience.projects.length > 0">
                  <div class="col s12 m6" *ngFor="let project of experience.projects">
                    <div class="card">
                      <div class="card-content purple white-text">
                        <h5 class="card-title">{{project.name}}<i class="material-icons right activator" style="cursor:pointer;">more_vert</i></h5>
                        <h6>{{project.fromTo}}</h6>
                        <br>
                        <p>{{project.quickDescription}}</p>
                        <ul>
                          <li><b>Key points :</b></li>
                          <li *ngFor="let bullet of project.bullets"> - {{bullet}}</li>
                        </ul>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title purple-text">{{project.name}}<i class="material-icons right">close</i></span>
                        <div *ngFor="let longDescription of project.longDescriptions">
                          <p>{{longDescription}}</p>
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-action" *ngIf="experience.technologies.length > 0">
                <a href="{{technology.link}}" target="_blank" *ngFor="let technology of experience.technologies" materialize="tooltip" data-position="bottom" data-delay="10" [attr.data-tooltip]="technology.tooltip" class="tooltipped">
                  <img height="30px" src="{{technology.imageLink}}" alt="technology.link">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
