<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content purple">
        <h4 class="white-text center-align">
          {{interests?.title}}
          <i class="material-icons small">thumb_up</i>
        </h4>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col s12 m6 purple-text" *ngFor="let interest of interests?.list"  style="height:150px;">
            <h4 class="center-align">{{interest?.title}} <i class="material-icons small">{{interest?.icon}}</i></h4>
            <p class="center-align">{{interest?.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
