<video id="video" #video width="{{videoWidth}}" height="{{videoHeight}}" preload autoplay loop muted></video>
<canvas id="canvas" #canvas ></canvas>
<div id="container"></div>
<div id="cadre" [ngStyle]="{'border-left-width': 100 + 'px','border-right-width': 100 + 'px'}"></div>
<div>{{supportMessage}}</div>
<p style="position:absolute;top:0; width: 100%; text-align: center; color: rgb(255, 255, 255); opacity: 0.5; background-color: rgb(68, 68, 68);"></p>
<p>Status : <span style="position:absolute;top:10px;left:0px; width: 100%; text-align: center; color: rgb(255, 255, 255); opacity: 0.5; background-color: rgb(68, 68, 68);">{{supportMessage}}</span></p>

<a id="back" routerLink="../">Go Back</a>
